<p id="notice"><%= notice %></p>

<h1>Sodapops</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sodapops.each do |sodapop| %>
      <tr>
        <td><%= sodapop.title %></td>
        <td><%= sodapop.description %></td>
        <td><%= link_to 'Show', sodapop %></td>
        <td><%= link_to 'Edit', edit_sodapop_path(sodapop) %></td>
        <td><%= link_to 'Destroy', sodapop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sodapop', new_sodapop_path %>
